<mat-card class="example-card mat-elevation-z8 mt-4 text-center"  >
    <mat-form-field class="mt-4">
        <div>
            <mat-toolbar>
                <input matInput [(ngModel)]="fileAttr" readonly name="name" />
                <button mat-flat-button color="primary">
                    Browse File
                </button>
            </mat-toolbar>
            
            <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile"
             />
        </div>
    </mat-form-field>
    <div class="mt-2">
        <button class="btn btn-success mb-4" *ngIf="redactbtn" (click)="redact()">Redact</button>
    </div>
</mat-card>

