.modal-backdrop {
  
    display: none;
  }
  
  .modal {
   
    background: rgba(0,0,0,0.5);
  }
 
  .mat-form-field {
    /* margin: 20px 0; */
    width: 300px !important;
}

.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
}

.mat-toolbar-single-row button {
    width: 200px;
}

.mat-form-field {
    width: 80%;
}

#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 30%;
    cursor: pointer;
    position: absolute;
}
.example-card {
  max-width: 600px;
  margin-left: 27%;
}