<div class="col-lg-12 row">
    <div class="col-lg-6 offset-lg-1">
        <div #viewer id="viewer" class="viewer"></div>
    </div>
    <div class="col-lg-5">
        <mat-card class="viewer">
            <mat-card-title>Comments</mat-card-title>
            <mat-card-content>
                <div class="shadow p-3 mb-2 bg-white rounded">
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                        <textarea type="text" class="form-control mr-3" rows="1" placeholder="Add comment"></textarea>
                        <button class="btn btn-primary" type="button" style="max-height: 45px;"> Comment</button>
                    </div>
                </div>
                <div class="shadow p-3 mb-2 bg-white rounded">
                    <a class="btn btn-link">User Name</a> Upload the image 15-06-2020
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>