<div mat-dialog-content class="col-lg-12 p-2">
    <p>You are trying to Redact a part, Please submit the type of Redaction</p>
<!-- {{data | json}} -->
    
    <!-- <mat-radio-group aria-label="Select an option" [(ngModel)]="data.type">
        <mat-radio-button value="PPD">PPD</mat-radio-button>
        <mat-radio-button value="CCI">CCI</mat-radio-button>
    </mat-radio-group> -->
</div>
<div mat-dialog-actions class="pull-right">
<button mat-stroked-button  (click)="onNoClick()">No</button>
<!-- <button mat-raised-button color="primary" [mat-dialog-close]="data.data" cdkFocusInitial>Yes</button> -->
</div>
