.sidebar-container{
    height: 100vh;
    overflow: scrollS;
}
.sidenav{
    min-width:80px;
    color:#ffffff;
}
  
.jim {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }