.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


  /* popup start */
  

  /* popup end */
  .modal-backdrop {
  
    display: none;
  }
  
  .modal {
   
    background: rgba(0,0,0,0.5);
  }
  
  /* file upload start */
  .drop-zone { 
    background-color: #f6f6f6;
    border: dotted 3px #dedddd; 
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.file-input-container {

    text-align: right;

   
}
input[type="file"] {
        display: none;
    }

    label {
      border: 1px solid #ccc;
      padding: 6px 12px;
      cursor: pointer;
  }

.nv-file-over { 
    border: dotted 3px red; 
}
 /* file upload end */


 /* create new project start */
 .example-card {
  max-width: 600px;
  margin-left: 27%;
}
.mat-form-field {
  margin: 40px 0;
  width: 500px !important;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}

.mat-toolbar-single-row button {
  width: 200px;
}

.mat-form-field {
  width: 100%;
}

#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;    
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}
 /* create new project end */