/* You can add global styles to this file, and also import other style files */
/* primary color code */
.text-green{color:#28a745 !important;}
.background-green{background-color:#28a745 !important;}
.background-gray{background-color: #53565a !important;}
.text-gray{color: #53565a !important;}
