/* You can add global styles to this file, and also import other style files */
/* primary color code */
.text-green{color:#28a745 !important;}
.text-white{color:#fff;}
.background-green{background-color:#28a745 !important;}
.background-gray{background-color: #53565a !important;}
.text-gray{color: #53565a !important;}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.modal-backdrop {
  
    display: none;
  }
  
  .modal {
   
    background: rgba(0,0,0,0.5);
  }
 
  .mat-form-field {
    /* margin: 20px 0; */
    width: 300px !important;
}

.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
}

.mat-toolbar-single-row button {
    width: 200px;
}

.mat-form-field {
    width: 80%;
}

#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 30%;
    cursor: pointer;
    position: absolute;
}
.loaderimage {
    position: absolute;
    z-index: 9;
    background: #fff;
    height: 98vh;
    top: 4;
}

.loaderimage img {
    position: relative;
    left: 40%;
    top: 40%;
}   
